#header{
    width: 100%;
    height: 87px;
    background: rgba(15, 27, 75, 0.97);
}
#header #main {
    width: 1000px;
    margin: 0 auto;
    height: 84px;
    position: relative;
}
#header #main div {
    width: 325px;
    height: 84px;

}
#header #main div img{
    margin-top: 25px;
}
#header #main ul{
    /*float: right;*/
    position: absolute;
    top: 28px;
    right: 0;

}
#header #main ul li{
    float: left;
    margin-right: 40px;
}
#header #main ul li:after{
    content: "";
    clear: both;
    display: inline-block;
}
#header #main ul li:nth-child(7){
    margin-right: 0;
}
#header #main ul li a{
    font-size: 20px;
    color: white;
}

#DT{
    margin-top: 700px;
}
#DT #main1{
    width: 1000px;
    margin: 0 auto;
}
#DT #main1 .DT1{
    width: 1000px;

}
#DT #main1 .DT1 h2{
    /*display: inline-block;*/
    /*margin: 0 auto;*/
    text-align: center;
    font-size: 40px;
    color: #666666;
    line-height: 60px;
}
#DT #main1 .DT1 p{
    text-align: center;
    font-size: 15px;
    color: #333333;
    line-height: 30px;
}
#DT #main1 #login1 ul li{
    float: left;
    margin-right: 50px;
}
#DT #main1 #login1 ul .dx1 img{
    width: 121px;
    height: 136px;
}
#DT #main1 #login1 ul .dx2 img{
    width: 73px;
    height: 128px;

}
#DT #main1 #login1 ul .dx3 img{
    width: 66px;
    height: 136px;
}
#DT #main1 #login1 ul .dx4 img{
    width: 201px;
    height: 121px;

}
#DT #main1 #login1 ul .dx5 img{
    width: 211px;
    height: 83px;

}
#DT #main1 #login1 ul .dx6 img{
    width: 148px;
    height: 110px;

}
#DT #main1 #login1 ul li:after{
    content: "";
    clear: both;
    display: inline-block;
}
#DT #main1 #login1{
    width: 1170px;
    margin-top: 60px;
}
#DT #main1 #login1 ul li h5{
    font-size: 15px;
    color: #666666;
    margin-top: 15px;
    text-align: center;
}
#DT #main1 #login1 ul li div{
    height: 200px;
    display:table-cell;
    vertical-align:bottom;
}














